.display {
    height: 60%;
    width: 100%;
    background-color: #63DAFC;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display span {
    font-weight: bold;
    font-size: 30px;
}

.display .number {
    font-size: 100px;
}

.display .maxNumber {
    font-size: 120px;
    color: red;
}

.display .errorText {
    color: red;
}


